body
{
    background-color: rgb(237, 245, 240);
    color: rgb(2, 18, 26);
    text-align: center;
    font-family: "arial";
    font-size: 16px;


}
#container id
{
   
    width: 70%;
    padding: 5em;
    text-align: left;
    border: 20px rgb(13, 22, 5);
    margin: 0 auto;
    border-width: 20px;



}
#container h1

{
 background-color: rgb(223, 151, 18);
 font-size: 20px;
}
p
{
color: darkslategrey;
}
